params {
    // Sample preparation options
    primers = "$baseDir/data/primers/Primers_A_elife-11282-supp2-v2_PCR1_primers_A_primers_RC.fasta"
    adapters = "$baseDir/data/adapters/NexteraPE-PE.fa"

    // Configurations
    initDir = "$baseDir/data/initdirs/InitDirShiver190405_BQ30/"
    config = "$baseDir/data/configs/shiver_config_BQ30_notrimming.sh"
    references = "$baseDir/data/references/HIV1_COM_2020_547-9592_DNA.fasta"

    // Databases
    hostGenome = "$baseDir/data/databases/human_genome_bwa/"
    hostGenomeBase = "GRCh38_genome"
    hostFasta = false

    // Parameters for estimating time of infection
    coverage_threshold_eti = '300'

    // Output options
    tracedir = "${params.outdir}/store"
    cache = "${params.outdir}/cache"

    // General options
    help = false
    input = false
    outdir = false
    init = false
    setup = false
    large = false
}

profiles {
    local {
        process.executor = 'local'
        cpus = 1
        memory = '3G'
    }
    slurm {
        process.executor = 'slurm'
        process.clusterOptions = { "-A development --qos low"}
        process.cpus  = 1
        process.memory = '1G'
        process.time = '5m'
        if ( params.large ) {
            includeConfig 'configs/executor_options_large.config'
        }
        else {
            includeConfig 'configs/executor_options.config'
        }
    }
    docker {
        docker.enabled = true
        fixOwnership = true
        runOptions = "-u \$(id -u):\$(id -g)"
        process.container = "talnor/hiv_time_analysis:0.1.1"
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        process.container = "talnor/hiv_time_analysis:0.1.1"
        if (params.cache) {
            singularity.cacheDir = params.cache
            env.NXF_TEMP="${params.cache}"
            env.NXF_SINGULARITY_LOCALCACHEDIR="${params.cache}"
            env.NXF_SINGULARITY_CACHEDIR="${params.cache}"
            env.NXF_SINGULARITY_TMPDIR="${params.cache}"
            env.SINGULARITY_LOCALCACHEDIR="${params.cache}"
            env.SINGULARITY_CACHEDIR="${params.cache}"
            env.SINGULARITY_TMPDIR="${params.cache}"
            env.SINGULARITY_ROOTFS="${params.cache}"
            env.TMPDIR="${params.cache}"
            env.TEMPDIR="${params.cache}"
        }
    }
}

// Nextflow output files
process.shell = ['/bin/bash', '-euo', 'pipefail']
timeline {
    enabled = true
    file = "${params.tracedir}/execution_timeline.html"
}
report {
    enabled = true
    file = "${params.tracedir}/execution_report.html"
}
trace {
    enabled = true
    file = "${params.tracedir}/execution_trace.txt"
}
dag {
    enabled = true
    file = "${params.tracedir}/pipeline_dag.svg"
}
manifest {
  description = 'Analysis pipeline for estimation of time of infection of HIV samples in the TIME study'
  mainScript = 'main.nf'
  version = '0.2.0'
}
