process {
    withLabel: trimming {
        cpus = 6
        memory = '10 GB'
        time = '30m'
    }
    withLabel: hostDepletion {
         cpus = 6
         memory = '10 GB'
         time = '30m'
    }
    withLabel: hostStats {
        cpus = 1
        memory = '10 GB'
        time = '15m'
    }
    withLabel: assembly {
        cpus = 6
        memory = '10 GB'
        time = '2h'
    }
    withLabel: shiver {
        cpus = 1
        memory = '10 GB'
        time = '1h'
    }
    withLabel: infectionEstimation {
        cpus = 1
        memory = '3 GB'
        time = '10m'
    }
    withLabel: plotCoverage {
        cpus = 1
        memory = '3 GB'
        time = '10m'
    }
}
