process {
    withLabel: version {
        cpus = 1
        memory = '1 GB'
        time = '10m'
    }
    withLabel: info {
        cpus = 1
        memory = '1 GB'
        time = '10m'
    }
    withLabel: buildDatabase {
        cpus = 1
        memory = '8 GB'
        time = '2h'
    }
    withLabel: trimming {
        cpus = 6
        memory = '20 GB'
        time = '1h'
    }
    withLabel: hostDepletion {
        cpus = 6
        memory = '20 GB'
        time = '1h'
    }
    withLabel: hostStats {
        cpus = 1
        memory = '10 GB'
        time = '15m'
    }
    withLabel: assembly {
        cpus = 6
        memory = '60 GB'
        time = '8h'
    }
    withLabel: shiver {
        cpus = 1
        memory = '10 GB'
        time = '4h'
    }
    withLabel: infectionEstimation {
        cpus = 1
        memory = '3 GB'
        time = '10m'
    }
    withLabel: plotCoverage {
        cpus = 1
        memory = '3 GB'
        time = '10m'
    }
}
